<!DOCTYPE html>
<html>
  <head>
      <style>
      body { margin: 20; background: #222; color: #fafafa; font-family: 'Arial Nova', sans-serif; }
      button { margin-left: 33%;margin-top: 25%; background-color: #7ab429; border: #fafafa;border-radius: 20%;color: #fafafa; height: 13%;width: 34%; text-align: center;text-decoration-color: #fafafa;display: inline-block;font-size: 1.2vw;}
      </style>
    <meta charset="utf-8" />
    <title>App</title>
  </head>
  <body>
    <button onclick="location.href='./users'" type="button">
         GO</button>
  </body>
</html>